/*----- coverd area -----*/
.coveredarea__container {
  margin-top: 20px;
}
.input-all {
  padding-left: 20px;
}
.city__container {
  width:  50%;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
  padding: 10px 20px;
  overflow-x: auto;
}
.city__item {
  display: inline-block;
  margin-right: 20px;
}