/*----- coverd area -----*/
ul, li {
  list-style: none;
}
.coveredarea {
  width: 100%;
  border: 1px solid #F0F0F0;
  /*padding: 3% 2%;*/
  text-align: left;
}
.coveredarea input {
  /*margin: 0 2% 3% 3%;*/
}
.coveredarea .isNotShow {
  display: none;
}
.coveredarea .isShow {
  display: block;
  width: 20%;
  height: 100px;
  overflow: scroll;
}